main {
  display: grid;
  grid-template-columns: 1fr 6fr 18fr;
  grid-auto-rows: 2fr 19fr;
}

body {
    background-color: white;
    color: black;
}

.button {
  max-width: 2em;
  max-height: 2em;
}

.IconBox {
  grid-column: 1;
  grid-row: auto;
  background-color: #36393e;
}
.SearchBox {
  grid-column: 2;
  background-color: #4f545d;

}
.mainBox {
  grid-column: 3;
  background-color: white;
}

#logo{

}
