html {
    background-color: #4f545d;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 18fr;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: inherit;
    color: white;
}

header {
  width: 100%;
  height 25%;
  background: #4d3319;
  padding: 0.5em;

}

header.img{
  top: 5em;
}

nav {
  height: 100%;
  width: 5%;
  position: fixed;
  background-color: #1a0000;
}

nav.button{
  margin: 1em;
}


.button {
    max-width: 2em;
    max-height: 2em;
}

.IconBox {
    grid-column: 1;
    background-color: #4f545d;
    display: block;
}

.SearchBox {
    grid-column: 2;
    background-color: #4f545d;
    display: block;
}

.mainBox {
    grid-column: 3;
    background-color: inherit;
}

#logo {
    position: absolute;
    bottom: 0;
    background-color: inherit;
    float: right;
}
