    html,
    body,
    .wholepage {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    
    .wholepage {
        display: grid;
        grid-template-columns: 0.5fr repeat(10, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    
    img {
        border-radius: 15%;
    }
    
    nav {
        /*  navbar area */
        background-color: #2f3136;
        grid-column: 1;
        grid-row: 1/-1;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
    }
    
    #down {
        grid-row: 1;
        margin: auto;
        width: 80%;
    }
    
    #rev {
        grid-row: 2;
        margin: auto;
        width: 80%;
    }
    
    #fave {
        grid-row: 3;
        margin: auto;
        width: 80%;
    }
    
    #load {
        grid-row: 4;
        margin: auto;
        width: 80%;
    }
    
    .button {
        /* clickables in navbar */
        margin: 1rem;
        width: 3rem;
    }
    
    #search {
        /* search area */
        background-color: #4f545d;
        grid-column: 2/4;
        grid-row: 1/-1;
        display: grid;
        grid-gap: 1%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 0fr repeat(7, 1fr);
    }
    
    #logo {
        grid-row: 9;
        grid-column: 1/-1;
        width: 90%;
        margin: auto;
    }
    
    .searchBar {
        grid-column: 1/-1;
        grid-row: 1;
        margin: auto;
    }
    
    #reviewForm {
        grid-column: 1/-1;
        grid-row: 2;
        margin: auto;
    }
    
    #fI1 {
        grid-column: 1;
        grid-row: 3;
        margin: auto;
        width: 90%;
    }
    
    #fI2 {
        grid-column: 2;
        grid-row: 3;
        margin: auto;
        width: 90%;
    }
    
    #fI3 {
        grid-column: 1;
        grid-row: 4;
        margin: auto;
        width: 90%;
    }
    
    #fI4 {
        grid-column: 2;
        grid-row: 4;
        margin: auto;
        width: 90%;
    }
    
    #fI5 {
        grid-column: 1;
        grid-row: 5;
        margin: auto;
        width: 90%;
    }
    
    #fI6 {
        grid-column: 2;
        grid-row: 5;
        margin: auto;
        width: 90%;
    }
    
    #recipe {
        grid-column: 4/-1;
        grid-row: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr repeat(4, 1fr);
    }
    
    #recipeImg {
        grid-column: 1;
        grid-row: 1/4;
        margin: auto;
        max-height: 80%;
        max-width: 80%;
    }
    
    #recipeTitle {
        grid-column: 2;
        grid-row: 1;
        text-align: center;
        margin: auto;
        font-size: xx-large;
    }
    
    #method {
        grid-column: 2;
        grid-row: 2/5;
    }
    
    #info {
        grid-column: 2;
        grid-row: 5/6;
    }
    
    #ingredients {
        grid-column: 1;
        grid-row: 4/6;
    }