* {
    /* Everything */
    margin: 0;
    border: 0;
    padding: 0;
}

main {
    /* whole page */
    display: flex;
    height: 100vh;
}

nav {
    /*  navbar area / first column */
    display: flex;
    flex-flow: column;
    background-color: #2f3136;
    width: auto;
}

nav>.button {
    /* clickables in navbar */
    margin: 1rem;
    width: 3rem;
}

#search {
    /* search area / second column */
    background-color: #4f545d;
    width: 30%;
}
.thumbnails{
    /* recipe thumbnails container */
    display: flex;
    flex-flow: row wrap;
}

.thumbnails>input.button {
    /* clickable thumbnails in search area */
    width: 40%;
    padding: 5%;
}

#recipe {
    /* recipe area / third column */
    background-color: white;
    width: 65%;
}

#image {
    /* Test set for images in recipe area */
    width: 10rem;
    float: left;
}
#fave{
    /* favourite button in recipe area */
    float: right;
    width: 3rem;
}

#logo {
    /* logo in the search area */
    position: absolute;
    bottom: 0;
    float: right;
    width: 12vw;
}